.footer {
  	position: fixed;
  	display:flex;
  	align-items: center;
    justify-content: left;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 55px;
  	background-color: #2a2a2a;
  	border-top: 3px solid rgb(128, 197, 240);
  	color: #c9c9c9;
    text-align: center;
}

.footer-text {
    margin-left: 50px;
    margin-top: 15px;
}