.add-student-button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-right: 0px;
    margin-top: 0%;
}
.add-student-button:hover {
    background-color: #0056b3;
    color: white;
}